@import "tailwindcss";
@import "aos/dist/aos.css";

@theme {
  --color-invofest: #990551;
  --color-invofest_secondary: #fdf2f8;
  --color-invofest_dark: #7a0441;
}

@layer base {
  body {
    background-color: transparent;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}
